@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.image{
  width: auto;
  height: auto;
}

.border-color{
  border: solid 2px #047F73;
}
.border-tab{
  border: solid 1px #E5E7E9;
}
.back-color{
  background-color: rgba(230, 232, 235);
}

.opacity {
  background: rgba(20, 20, 20, 0.7);
}

body {
  margin: 0rem;
  padding: 0rem;
  
}
/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/